body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 0;
}

.bar {
  height: 500;
  width: 45%;
}

#map-container {
  height: 420px;
  width: 100%;
  border: 1px solid black;
  
}

#map {
  width: 400px; 
  height: 400px; 
}